/logs/
/saves/
/slots.old/
.idea
__pycache__
lib/__pycache__/
*.log
/saves/backup/Some stupid name! LOL/
/saves/backup/Test!!!/
/saves/backup/
/QBubbles.egg-info/
/build/
/dist/
/qbubbles/addons/v1.5.0-pre5/
/qbubbles/qbubbles/
